table, td, th, tr {
    border: 2px solid black;
    border-collapse: collapse;
}
/* th, td {
  background-color: #96D4D4;
} */
th, td {
  border-color: #000000;
}
td {
    text-align: center;
}
/* tr:nth-child(even) {
  background-color: #ffbebe;
} */
tr:hover {background-color: #D6EEEE;}