h1 {
    color: blue;
    background-color: yellow;
}
body {
    background-color: pink;
}
button {
    background-color: skyblue;
    color: white;
}
.haed {
    font-family: 'Arial', sans-serif;
    background-color: #d7ff46;
}