h1 {
    color: blue;
    background-color: yellow;
}
body {
    background-color: pink;
}
button {
    background-color: skyblue;
    color: white;
}
.haed {
    font-family: 'Arial', sans-serif;
    background-color: #d7ff46;
}
#old {
    visibility: hidden;
}
.boxes {
    margin: 10px;
    border: 2px solid black;
    background-color: bisque;
    height: 50px;
    width: 50px;
}